nav {
  height: 120px;
  background-color: #4056A1;
  font-size: 24px;
  font-family: 'Bungee', cursive;
  padding: 1.5em;
  color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  width: 100%;
}

#writeTweet {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  margin: -30px;
  margin-right: 10px;
}

#arrowDown {
  color: white;
  display: flex;
  margin: 10px;
  margin-right: 50px;
  justify-content: flex-end;
}

a {
  color: red;
}
