.new-tweet{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#tweet-text {
  display: flex;
  align-items: center;
  width: 90vw;
  border-style: solid;
  margin: 10px;
  background-color: #f4f1ec;
  border:none;
  border-bottom: solid;
  border-color: black;
}

.submit-tweet{
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  color: rgb(255, 255, 255);
  margin: 0 10px;
}

.counter {
  font-family: 'Bungee', cursive; 
  
}

.counterRed {
  font-family: 'Bungee', cursive; 
  color: red;
}

.submission-container {
  display: flex;
  justify-content: space-between;
}

