#new-tweet{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

form {
  width: 100%;
  padding: 0 40px;
  padding-left: 11px;
}

#tweet-text {
  width: 100%;
  border-style: solid; 
  margin: 10px;
  background-color: #f4f1ec;
  border:none;
  border-bottom: solid;
  border-color: black;
}

.submission-container {
  display: flex;
  justify-content: space-between;
}

.submit-tweet{
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  color: rgb(255, 255, 255);
  margin: 0 10px;
}

.counter {
  font-family: 'Bungee', cursive; 
  
}

.counterRed {
  font-family: 'Bungee', cursive; 
  color: red;
}

.error {
  width: 70%;
  font-weight: bold;
  font-size: 18px;
  color: red;
  text-align:left;
}


