.tweet {
  font-weight: 200;
  border-left: solid;
  border-right: solid;
  border-top: solid;
  border-bottom: solid;
  border-color: black;
  margin: 30px;
  margin-top: 40px;
  display:flex;
  flex-direction: column;
  align-items: space-between;
}



.tweet:hover {
  box-shadow: 0 20px 20px rgba(41,187,195,.8);
  font-weight: 550;
}

.tweet:hover .handle {
  margin-top: 30px;
  color:gray;
  font-weight: 100;
}

.tweet-header {
  width: 90vw;
  height: 5vw;
  display:flex;
  flex-direction: row;
  background-image: none;
  background-color: #f4f1ec;
  justify-content: space-between;
  padding: 20px;
}

.handle {
  color:  #f4f1ec;
}

.user-info {
  display: flex;
  margin-top: 10px;  
}

.user-info img {
  margin-right: 20px; 
}

.tweeted-content {
  margin: 30px 0 -10px 30px;
  height: 2vw;
  display:flex;
  border-color: black;
}

.tweet-footer {
  border-top: solid;
  margin: 10px;
  height: 5vw;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.icons {
  margin-top: 20px;
  display:flex;
  flex-direction: row
}

i {
  margin-right: 10px;
}